{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for inventory in inventories %}
        <li>ID : {{ inventory.id }}</li>
        <li>PERSONNE : {{ inventory.personne }}</li>
        <li>MATERIAL : {{ inventory.material }}</li>
        <li>NUMBER OF ITEMS : {{ inventory.numberOfItem }}</li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}