{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for material in materials %}
        <li>{{ material }}</li>
        <br>
    {% endfor %}
    </ul>

    {% for message in app.flashes('success_material') %}
        {{ message }}
        {% endfor %}
    {% for message in app.flashes('error_material') %}
        {{ message }}
    {% endfor %}
{% endblock %}