{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for personne in personnes %}
        <li>TO STRING PERSONNE : {{ personne }}</li>

        <br>
    {% endfor %}
    </ul>

    {% for message in app.flashes('success_personne') %}
        {{ message }}
    {% endfor %}
    {% for message in app.flashes('error_personne') %}
        {{ message }}
    {% endfor %}
{% endblock %}